<div class='container'>
  <div ng-controller='StateCtrl'>
    <a ui-sref='home'><div id='databox'>TopoDollar</div></a>
      <p>Click on a census tract to see its median income.</p>
<!-- <select ng-model="newStates" ng-options="place.name for place in newStates" ui-sref='state({name:place.name})'></select>
 -->

<!--      <select ng-model="newStates" ng-options="state.name for state in newStates">
    <ul ng-model='newStates' class="dropdown-menu">
          <li ng-repeat="state.name as state in newStates" ng-click='updateState(state)'><a ui-sref='state({name: state.name})'></a></li>
        </ul>
      </select>
 -->    </div>
  </div>



<!--     <a ui-sref="itineraries-show({id: itinerary.id})" class="itin-name">
    {{ itinerary.name }}</a>
 -->
<!-- <html>
<head>
  <script src='http://d3js.org/d3.v3.min.js'></script>
  <script src="http://d3js.org/queue.v1.min.js"></script>
  <script src='http://d3js.org/topojson.v1.min.js'></script>
  <title>Project 4 Test</title>
</head>
<body>
  <style>

    .q0-9 { fill:rgb(247,251,255); }
    .q1-9 { fill:rgb(222,235,247); }
    .q2-9 { fill:rgb(198,219,239); }
    .q3-9 { fill:rgb(158,202,225); }
    .q4-9 { fill:rgb(107,174,214); }
    .q5-9 { fill:rgb(66,146,198); }
    .q6-9 { fill:rgb(33,113,181); } 
    .q7-9 { fill:rgb(8,81,156); }
    .q8-9 { fill:rgb(8,48,107); }

  </style>

  <div id="databox">This is where data goes.</div>

  <script>
    var i;
    var width = 960,
        height = 1160;

    var incomeById = d3.map();

    var quantize = d3.scale.quantize()
        .domain([0, 150000])
        .range(d3.range(9).map(function(i) { return 'q' + i + '-9'; }));

    var svg = d3.select('body').append('svg')
        .attr('width', width)
        .attr('height', height);

    var projection = d3.geo.mercator()
                     .center([-83.1132, 32.9605])
                     // .rotate([0, 0])
                     // .parallels([50, 60])
                     .scale(6000)
                     .translate([width / 2, height / 2]);

    var path = d3.geo.path()
               .projection(projection);

    // var incomes = d3.csv('ga_tract_median.csv', function(data) {
    //       console.log(data);
    //       for (var i = 0; i < data.length; i++) {
    //         // console.log(data[i].HC02_EST_VC02);
    //       };
    //       return data;
    // });


    queue()
        .defer(d3.json, 'georgia.json')
        // .defer(d3.csv, 'ga_tract_median.csv', function(d) { incomeById.set(d.GEOID2, +d.HC02_EST_VC02); })
        .await(ready);  


  // d3.json('georgia.json', function(error, georgia) {
  //   var georgia = topojson.feature(georgia, georgia.objects.GA).features;
    
  //     d3.csv('ga_tract_median.csv', function(error, csv) {

  //       csv.forEach(function(d, i) {
  //         georgia.forEach(function(e, j) {
  //           if (d.GEOID2 === e.id) {
  //             // console.log(d.HC02_EST_VC02);
  //             return d.HC02_EST_VC02;
  //           }
  //         })
  //       })
  //     svg.append('g').selectAll('path')
  //       .data(georgia)
  //       .enter()
  //       .append('svg:path')
  //       .attr('class', function(d, i) { return 'tract' + d.id; })
  //       .on('click', function(d ,i) {
  //         console.log(d);
  //       });

  //     })    
  // })

    function ready(error, georgia, csv) {
      // svg.append('path')
      console.log(topojson.feature(georgia, georgia.objects.GA).features);
      svg.selectAll('path')
        .data(topojson.feature(georgia, georgia.objects.GA).features)
        .enter().append('path')
        .attr('class', function(d) { return quantize(d.properties.income); })
        .attr('d', path)
      // svg.selectAll('tract')
        .on('click', function(d) {
          report_data(d);
          console.log(d.properties.income);
        })
      }

     function report_data(tract) {
      d3.select('#databox').text(function() {
        return tract.properties.income;
      });
     }               
    // d3.json('georgia.json', function(error, georgia) {
    //   console.log(georgia);
      // svg.append('path')
      //   .datum(topojson.mesh(georgia, georgia.objects.GA))
      //   .attr("d", path)
      //   .attr('class', 'subunit-boundary');
    //   svg.selectAll('.tract')
    //     .data(topojson.feature(georgia, georgia.objects.GA).features)
    //     .enter().append('path')
    //     .attr('class', function(d) { return 'tract' + d.id; })
    //     .attr('d', path)
    //     .on('mouseover', function(d){d3.select( '.tract' + d.id ).style('fill', 'aliceblue');
    //       console.log(d);});
    //     ;
    // });        
  </script>

</body>
</html>  -->