<div class='container'>
  <div ng-controller='StateCtrl'>
    <a ui-sref='home'><div id='databox'>TopoDollar</div></a>
      <p>Click on a census tract to see its median income.</p>
<!-- <select ng-model="newStates" ng-options="place.name for place in newStates" ui-sref='state({name:place.name})'></select>
 -->

<!--      <select ng-model="newStates" ng-options="state.name for state in newStates">
    <ul ng-model='newStates' class="dropdown-menu">
          <li ng-repeat="state.name as state in newStates" ng-click='updateState(state)'><a ui-sref='state({name: state.name})'></a></li>
        </ul>
      </select>
 -->    </div>
  </div>